/* Generics */
*{
    box-sizing: border-box;
}
ul, ol {
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    color:#777
}
/* navigation */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}
.main-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
    background-color: #181F25;
}

.logo{
    font-size: 18px;
}

.search {
    background-color: #EBEDF0;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
}
.search input {
    border: none;
    background-color: transparent;
    height: 26px;
    color: #888;
    width: 90%;
    outline-width: 0;
}
.search i {
    color: #888;
}
.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu li {
    margin: 0 8px;
}
.menu i {
    font-size: 25px;
}

/* Main */
main {
    background-color: #27313b;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    min-height: 700px;
}

.main-content {
    max-width: 470px;
}

.main-mi-perfil{
    padding: 1px 0;
    min-height: 100px;
    padding-bottom: 60px;
}

.main-mi-perfil-usuario{
    min-height: 50px;
    padding-top: 100px;
    padding-bottom: 0px;
}

/* post */
.post{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: #777;
    margin-bottom: 20px;
}
.post-body img {
    width: 100%;
}

.posteo-body{
    color: #181F25;
}

.info-usuario,
.post-reacciones,
.post-comentarios {
    padding: 10px 15px
}
.info-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    background-color: #181F25;
}

.info-usuario img {
    margin-right: 10px;
    border-radius: 90%;
    padding: 1px;
    border: 2px solid chocolate;
}

.info-usuario-color{
    background-color: #27313b;
    color: white;
}

.post-reacciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #181F25;
}
.post-reacciones li{
    margin-right: 10px;
    font-size: 25px;
}
.post-comentarios li {
    margin-bottom: 10px;
}
.post-comentarios li a {
    margin-right: 10px;
    color: white;
}
.post-comentarios h4 {
    margin: 0 0 10px 0;
}

/* Footer  */
.main-footer,
.social,
.team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #27313b;
    border-top: 1px solid #ddd;
    padding: 20px 10px;
    color: white;
}
.social li {
    margin-right: 20px;
}
.team li {
    margin-left: 20px;
}

/* Post detail */
.post-detail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 770px;
}
.post-detail .main-content {
    max-width: 64%;
}
.post-detail .photo {
    width: 100%;
}

.mi-perfil-content{
    width: 300px;
}

.post-detail .right {
    width: 34%;
}
.comments div {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}
.comment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}
.comment img {
    margin-right: 10px;
    border-radius: 90%;
    padding: 1px;
    border: 2px solid chocolate;
}
.comment .text {
    font-size: 12px;
    color: white;
}
.comment .content {
    line-height: 1;
}

.comment .content a{
    color: white;
}

.comment-form{
    background: #fff;
    padding: 15px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}
.comment-form input {
    margin-bottom: 10px;
    height: 25px;
    border: none;
    outline-width: 0;
    color:#777
}
.comment-form button {
    padding: 5px 0;
    background-color:mediumseagreen;
    border: 1px solid mediumaquamarine;
    border-radius: 5px;
    color: #fff;
}
.comment-form button:hover {
    cursor: pointer;
    background-color: forestgreen;
}

.fa-heart{
    color: red;
}

.post-comentarios{
    color: white;
    background-color: #181F25;
}

.sin-resultados{
    color: white;
}

/* User detail */

.user-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.user-detail .info-usuario{
    justify-content: space-between;
}
.user-detail .bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 40px;
    width: 70%;
}
.user-detail .post{
    width: 200px;
    padding: 5px 5px 20px 5px;
    border-radius: 0;
}
.user-detail .post img{
    width: 100%;
}
.user-detail .top {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    max-width: 500px;
}
.follow {
    padding: 3px 20px 7px;
    background-color: mediumseagreen;
    border: 1px solid mediumaquamarine;
    border-radius: 5px;
    color: #fff;
    margin-left: 20px;
}
.follow:hover{
    cursor: pointer;
    background-color: forestgreen;
}
.profile {
    border-radius: 90%;
    border: 2px solid chocolate;
    width: 20%;
}

.user-detail .meta {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.caption-posteo{
    display: flex;
}

.usuario-caption{
    color: white;
    padding-right: 4%;
    font-size: 100%;
}

/* Register */
.form{
    display: flex;
    flex-direction: column;
    background-color: #181F25;
    padding: 10%;
    color: white;
}

.form button{
    padding: 5px 0;
    background-color:mediumseagreen;
    border: 1px solid mediumaquamarine;
    border-radius: 5px;
    color: #fff;
    margin-top: 10%;
    width: 85%;
    align-self: center;
}

.fondo-form{
    width: 60%;
}

.titulo-form{
    color: white;
}