<header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
            <h2 class="logo"><a href="/">TRAVELGRAM</a></h2>
        </div>
        <div class="navbar-center">
            <form action="/busqueda" class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" class="search-input" placeholder="Buscar...">
            </form>
        </div>
        <div class="navbar-right">
            <ul class="menu">
                <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
                <li><a href="/posts/agregar"><i class="fa-regular fa-square-plus"></i></a></li>
                <li><a href="/usuarios/miPerfil/id/1"><i class="fa-regular fa-user"></i></a></li>
                <li><a href="/login"><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>
            </ul>
        </div>
    </nav>
</header>