<header class="main-header">
    <nav class="main-nav">
        <div class="navbar-left">
            <h2 class="logo"><a href="/">TRAVELGRAM</a></h2>
        </div>
        <div class="navbar-center">
            <form action="/resultadoBusqueda" class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" name="busqueda" value="" class="search-input" placeholder="Buscar...">
            </form>
        </div>
        <div class="navbar-right">
            <ul class="menu">
                <li><a href="/registracion">Registro</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
            </ul>
        </div>
    </nav>
</header>