<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/headerLog') %>

    <main>
        <section class="center main-content">
        <h1 class="titulo-form">Nuevo Post</h1>
        <form class= "form" action="/login" method="GET">
            <label for="nombreImg">URL:</label><input id= "nombreImg" type="text" name="nombreImg" value="" required>
            <label for="textoPost">Caption:</label><input id="textoPost" type="text" name="textoPost" value="">
            <button type="submit">Enviar</button>
        </form>

        </section>
    </main>
    
    <%- include('./partials/footer') %>

</body>

</html>