<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
        <h1 class="titulo-form">Login</h1>
            <form class= "form" action="/login" method="post">
                <label for="emailReg">Email:</label><input id="emailReg" type="email" name="email" value="" required>
                <label for="pass">Clave:</label><input id= "pass" type="password" name="pass" value="" required>
                <div>
                    <label for="rememberMe">Recuerdame</label>
                    <input type="checkbox" name="rememberMe" id="rememberMe">
                </div>
                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>