<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
        <h1>Login</h1>
            <form class= "form" action="/usuarios/miPerfil/id/1" method="GET">
                <label for="emailReg">Email:</label><input id="emailReg" type="email" name="email" value="" required>
                <label for="pass">Clave:</label><input id= "pass" type="password" name="pass" value="" required>
                <button type="submit">Enviar</button>
            </form>
        </section>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>